/*
.body{
  background-color: #2A3705;
}
.left_col{
  background-color: #2A3705!important;
}
*/

.title-main {
  text-align: center;
}

.hr {
  height: 1px;
  background-color: #888888;
  border: none;
}


#shiny-tab-marketprice h2 {
  font-size: 4rem;
}

